{% extends 'base.html' %}

{% block content %}


<div class = "container">
<br/><br>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <center>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description}}</p>

                    {% if product.is_sale %}
                        <h6 class="card-subtitle mb-2 text-muted text-danger">Sale Price: ${{ product.sale_price }}</h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2 text-muted">Price: ${{ product.price }}</h6>
                    {% endif %}
                    <br/><br/>

                    <!-- adding quantity -->
          <div class="row justify-content-center">
              <div class = "col-md-2">Quanity:</div>
                      <div class = "col-md-2">
                      <select class="form-select form-select-sm" id ="qty-cart">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                      </div>
                      </div>
                      <br/><br/>


                    <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Home</button></a>
                    <button type="button" value="{{ product.id }}" class="btn btn-primary" id ="add-cart" >Add to Cart</button>
                </center>
            </div>
          </div>
        </div>
      </div>
</div>

<script>
  $(document).on('click', '#add-cart', function(e) {
      e.preventDefault();
      $.ajax({
          type: 'POST',
          url : "{% url 'cart_add' %}",// here the response go when we hit the button
          data: {
              product_id: $('#add-cart').val(), // this <id_name> add-cart is from the line in which we wanted ajax inline changes # Here what ever we select it sent back to the cart_add in urls
              product_qty: $('#qty-cart option:selected').text(), // this <id_name> qty-cart is from the line in which we wanted ajax inline changes
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post'
          },
          success: function(json) {
              // Update the cart quantity in the UI
              document.getElementById("cart_quantity").
                textContent = json.qty
              location.reload();
          },
          error: function(xhr, errmsg, err) {
              console.log(xhr.status + ": " + xhr.responseText);
          }
      });
  });
  </script>
  
{% endblock %}