{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Update Password</h1>
                <p class="lead fw-normal text-white-50 mb-0">Update the profile password here</p>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row justify-content-start">
            <div class="col-8">
                <h2 class="mb-4">Update Password Form</h2>
                <!-- Form pointing to URL update_password -->
                <form method="POST" action="{% url 'update_password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-secondary mt-3">Update Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
